{% extends "base.html" %}

{% block content %}
<h2>Email Checker</h2>

<div class="email-container">
    <div class="email-display">
        <p>Dear [student/tutor],</p>
        <p> You have been matched with [student/tutor] for these classes: [class]. [tutor/student] is available to meet with you at [time] on [day]. </p>
        <p>Regards,</p>
        <p>Geffen Peer Tutoring Team</p>
    </div>
    <div class="button-container">
        <button class="send-email-btn">Send Emails</button>
        <button class="send-email-btn">Delete Emails</button>
    </div>
</div>


{% endblock %}