{% extends "base.html" %}

{% block content %}
<h2>Geffen Peer Tutoring Scheduler</h2>
<br>
<div class="content-container">
    <div class="text-content">
        <h4>What we can do:</h4>
        <ol class="directions">
            <li>Create a tutoring schedule</li>
            <li>Request tutor and student changes</li>
            <li>Automatically send emails to students and tutors</li>
        </ol>
        <h4>Directions</h4>
        <ol class="directions">
            <li>Upload two CSV documents, one for students and one for peer tutors</li>
            <li>Search for individual students and peer tutors</li>
            <li>Send automatic emails to students and tutors</li>
        </ol>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='geffen_library.jpg') }}" alt="Library">
    </div>
</div>
{% endblock %}