{% extends "base.html" %}

{% block content %}
<h2>Geffen Peer Tutoring Scheduler</h2>
<br>
<div class="content-container">
    <div class="text-content">
        <h4>What we can do:</h4>
        <ol class="directions">
            <li>Create a tutoring schedule</li>
            <li>Request tutor and student changes</li>
            <li>Automatically send emails to students and tutors</li>
        </ol>
        <h4>Directions</h4>
        <ol class="directions">
            <li>Go to the Google Sheets with the student responses</li>
            <li>Go to file -> download -> .csv</li>
            <li>Repeat this process for the tutor responses sheet</li>
            <li>Go to the <a href="{{ url_for('upload') }}">Upload</a> tab and upload both files </li>
        </ol>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='geffen_library.jpg') }}" alt="Library">
    </div>
</div>
{% endblock %}