{% extends "base.html" %}

{% block content %}
<h2>Geffen Peer Tutoring Scheduler</h2>
<br>
<div class="content-container">
    <div class="text-content">
        <h4>What we can do:</h4>
        <ol class="directions">
            <li>Create a tutoring schedule</li>
            <li>Request tutor and student changes</li>
            <li>Automatically send emails to students and tutors</li>
        </ol>
        <h4>Directions</h4>
        <ol class="directions">
            <li>Go to both the Google Sheets with the student responses and tutor responses.</li>
            <li>Make sure both Google Sheet links are accessible to everyone. </li>
            <li>Copy link and go to Setup page.</li>
            <li>Go to the <a class="text_link", href="{{ url_for('setup') }}">Setup</a> and copy each respected link. </li>
            <li>After setup is complete, go to the <a class="text_link", href="{{ url_for('search') }}">Search</a> tab to view student assignments and request changes. </li>
            <li>Go to the <a class="text_link", href="{{ url_for('email') }}">Email</a> tab to view and automatically send emails to students and tutors. </li>
        </ol>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='geffen_library.jpg') }}" alt="Library">
    </div>
</div>
{% endblock %}