{% extends "base.html" %}

{% block content %}
<h2>Upload Documents</h2>
<div class="upload-container">
    <form method="POST" enctype="multipart/form-data" id="uploadForm" onsubmit="return validateForm()">
        <div class="upload-boxes">
            <div class="upload-box" id="dragAreaTutors">
                <i class="fas fa-cloud-upload-alt"></i>
                <div class="upload-item">
                    <label>Student Responses File</label>
                    <div class="file-input-container">
                        <input type="file" name="student_responses_file" id="student_responses_file" accept=".csv">
                        <span class="file-name">No file chosen</span>
                    </div>
                </div>
                <p class="drag-text">Drag and drop tutor file here or click to select</p>
            </div>
            
            <div class="upload-box" id="dragAreaStudents">
                <i class="fas fa-cloud-upload-alt"></i>
                <div class="upload-item">
                    <label>Peer Tutor Responses File</label>
                    <div class="file-input-container">
                        <input type="file" name="peer_tutor_responses_file" id="peer_tutor_responses_file" accept=".csv">
                        <span class="file-name">No file chosen</span>
                    </div>
                </div>
                <p class="drag-text">Drag and drop students file here or click to select</p>
            </div>
        </div>
        <button type="submit" class="upload-btn">Upload Files</button>
    </form>
</div>

{% if message is not none %}
    <div class="alert">{{ message|safe }}</div>
{% endif %}

{% endblock %}


{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}